html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
}


/*
 * Map div container
 */

#map {  
  width: 80%;
  height: 80%;
  position: absolute;
  overflow: hidden;
}
 